jupyter # Clears output from Jupyter notebooks
pre-commit # Used to run checks before finalizing a git commit
pytest
pytest-cov # Used to report total code coverage
ruff # Used for static linting of files
